/** Add css rules here for your application. */

html {
	background-image: url("/images/backgroundimage.jpg");
	background-repeat: repeat;
	background-size: cover;
}


#main {
	width: 70%;
	min-height: 50em;
	margin-top: 4%;
	background-color: white;
	margin-left: 15%;
	box-shadow: 0px 5px 9.5px grey;
}

body {
	background-color: transparent !important;
}

#menubar {
	width: 50%;
	height: 3.5em;
	display: inline-block;
	margin-left: 3em;
	margin-top: 2px;
	position: absolute;
}


#header {
	font-size: 3em;
	color: #404040;
	font-family: 'Fredoka One', cursive;
	height: 80px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	background: linear-gradient(to top right, #ff6300 0%, #ff4600 100%);
	opacity: 0.9;
	box-shadow: 0px 5px 9.5px grey;
	background-size: contain;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#spacebar {
	width: 50%;
	height: 40px;
}

#leftmenu {
	width: 20%;
	height: 48em;
	background-color: rgba(255, 255, 255, 0.8);
	display: inline-grid;
}

#leftmenu table {
	width: 100%;
}

#content {
	width: 50%;
	height: 35em;
	display: inline-grid;
	margin-left: 3em;
	margin-top: 6em;
	position: absolute;
}



h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

h2 {
	font-size: 0.4em !important;
	display: contents;
	opacity: 0.5;
	font-weight: lighter;
}

.welcomeFont {
	margin-top: 30px;
	font-size: 2.2em !important;
		font-family: 'Fredoka One', cursive;
		color: #666666;
}

.formHeadline {
	font-size: 14px;
	font-weight: bold;
}

#content > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > div:nth-child(1) {
	text-align: end;
	font-size: 1.1em;
	font-style: italic; 
	margin-right: 2em;
	margin-top: 15px;
}

.statisticOverview {
	font-size: 14px;
	font-weight: bolder;
}

.statisticOverviewItalic {
	font-size: 14px;
	font-style: italic;
}

.statisticOverviewFlexTable {
		line-height: 25px;
}

.statisticCancellationOverviewFlexTable {
	line-height: 25px;
}

.statisticOverviewPanel > tbody:nth-child(1) > tr:nth-child(2) {
	height: 8em;
}

.statisticOverviewPanel > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > div:nth-child(1) {
	line-height: 50px;
}

/** BUTTONS */

.subSelectionButton {
	background: linear-gradient(to top right, #ff6300 0%, #ff4600 100%);
	width: 7em;
	height: 3em;
	border-radius: 2px;
	border: 0px;
	display: inline-block;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
	opacity: 0.8;
	margin: 2px 2px;
}

.subSelectionButton:hover {
	opacity: 0.9;
	transform: scale(1.02);
	color: #1a1a1a;
}

.subSelectionButton:active {
	opacity: 0.9;
	transform: scale(1.02);
	color: black;
}
	
.subSelectionButtonPanel table {
	width: 100%;
}

.subSelectionButtonPanel tbody tr td:first-child {
	text-align: right; 
}

.gwt-ToggleButton-up {
	background: linear-gradient(to top right, #ff6300 0%, #ff4600 100%) !important;
	width: 7em;
	height: 2.5em;
	border-radius: 2px !important;;
	border: 0px !important;
	color: #000000;
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
	opacity: 0.75;
	margin: 2px 2px !important;
	display: inline-grid;
	align-items: center;
}

.gwt-ToggleButton-down {
	background: linear-gradient(to top right, #ffa166 0%, #ff914d 100%) !important;
	width: 7em;
	height: 2.5em;
	border-radius: 2px !important;;
	border: 0px !important;
	color: #303003;
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
	opacity: 0.8;
	margin: 2px 2px !important;
	box-shadow: inset 0 0 6px #994d00;
	display: inline-grid;
	align-items: center;
}

.gwt-ToggleButton-up-hovering {
	background: linear-gradient(to top right, #ff6300 0%, #ff4600 100%) !important;
	width: 7em;
	height: 2.5em;
	border-radius: 2px !important;;
	border: 0px !important;
	color: #000000;
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
	opacity: 0.8;
	margin: 2px 2px !important;
	display: inline-grid;
	align-items: center;
}

.gwt-ToggleButton-down-hovering {
	background: linear-gradient(to top right, #ffa166 0%, #ff914d 100%) !important;
	width: 7em;
	height: 2.5em;
	border-radius: 2px !important;;
	border: 0px !important;
	color: #303003;
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
	opacity: 0.8;
	margin: 2px 2px !important;
	box-shadow: inset 0 0 6px #994d00;
	display: inline-grid;
	align-items: center;
}

.gwt-Button {
	font-size: 1em;
	width: 100px;
	border-radius: 6px;
	border: 1px solid #d9d9d9 !important;
	cursor: pointer;
	color: #2c2c2c !important;
	background-color: whitesmoke !important;
	padding: 6px 0px 6px 0px !important;
	text-shadow: 0px 1px 1px #ffffff !important;
	text-align: center;
	background-image: none !important;
	margin-right: 5px !important;
	box-shadow: 1px 1px #999;
}


.gwt-Button:hover {
	transform: scale(1.02);
	box-shadow: inset 1px 1px 1px 1px #f2f2f2 !important;
	background-color: white !important;
}

.calculateCancellationDateButton {
	margin-left: 7px;
	height: 27px;
	font-size: 0.9em;
	width: 80px;
	border-radius: 6px;
	border: 1px solid #d9d9d9 !important;
	cursor: pointer;
	color: #2c2c2c !important;
	background-color: whitesmoke !important;
	padding: 6px 0px 6px 0px !important;
	text-shadow: 0px 1px 1px #ffffff !important;
	text-align: center;
	background-image: none !important;
	margin-right: 5px !important;
	box-shadow: 1px 1px #999;
}

.calculateCancellationDateButton:hover {
	box-shadow: inset 1px 1px 1px 1px #f2f2f2 !important;
	background-color: white !important;
}

/** PANELS */

.leftMenuScrollPanel {
	height: 44em;
}

#content > table:nth-child(1) {
	display: block;
}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** DIALOGBOX */
.gwt-DialogBox .dialogMiddleCenter {
	width: 400px;
	height: 100px;
}

.gwt-DialogBox .Caption {
	background: white;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #d0e4f6;
	text-align: center;
}

.gwt-DialogBox {
	max-width: 500px;
	height: auto;
}

.gwt-DialogBox .dialogContent {
	width: auto;
	margin: auto auto;
	padding: 20px 20px 20px 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 15px;
	background: white;
	margin-left: 40px;
}

.gwt-DialogBox .dialogMiddleCenterInner table tbody tr {
	display: table;
	margin: auto auto;
	width: 100%;
}

.gwt-DialogBox .dialogMiddleCenterInner table table {
	width: 100%;
}

.gwt-DialogBox .dialogMiddleCenterInner table tbody tr:last-child {
	display: table;
	margin: auto auto;
	margin-top: 10px;
}

.buttonPanelBox {
	margin: auto auto;
}

.buttonPanelBox table tbody tr td:last-child {
	width: inherit;
	margin: auto auto;
	display: table;
}

/** MENUBAR */

.gwt-MenuBar table {
	height: inherit;
	text-align: center !important;
}

.gwt-MenuBar {
   cursor: pointer !important;
}

.gwt-MenuBar .gwt-MenuItem {
   cursor: pointer !important;
   font-family: 'Ubuntu', sans-serif !important;
   font-size: 14px;
   font-weight: 500 !important;
}

.gwt-MenuBar .gwt-MenuItem-selected {
   background: linear-gradient(to top right, #ffa166 0%, #ff914d 100%) !important;
   	border: 0px !important;
}

.gwt-MenuBar-horizontal {
	background: linear-gradient(to top right, #ff6300 0%, #ff4600 100%) !important;
	height: 3.2em;
	border-radius: 2px !important;
	border: 0px !important;
	display: inline-block;
	color: #333333;
	font-family: 'Open Sans', sans-serif !important;;
	text-align: center;
	opacity: 0.8;
	margin-left: 2px;
	width: 70px;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
   padding: 5px 17px !important;
   vertical-align: bottom;
   color: #494949;
   line-height: 25px;
   font-size: 14px;
   width: 5rem;
}

#menubar > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(5) > div:nth-child(1) {
	margin-left: 4em !important;
	width: 5em !important;
}

#gwt-uid-5:hover {
	background: linear-gradient(to top right, #ffa166 0%, #ff914d 100%) !important;
   	border: 0px !important;
   	height: inherit !important;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
   width: 1px;
   padding: 0px;
   margin: 0px;
   border: 0px;
   border-left: 1px solid #ccc;
   background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
   width: 1px;
   height: 1px;
   background: white; 
}

.disabledMenuBar {
   padding: 5px 40px 5px 5px !important;
   font-family: 'Ubuntu', sans-serif !important;
   font-weight: 300 !important;
   font-size: 14px;
   color: #d9d9d9!important;
   cursor: default !important;
}

.gwt-PopupPanelGlass{
    height:15000 px;
    width:15000 px;
}


.subscriptionViewTable {
	line-height: 25px;
}

.subscriptionEditTable {
	width: 40em;
	height: 25em;
}

.subscriptionViewTableFont {
	font-size: 1.25em;
	font-weight: bold;
}

.buttonPanel {
	margin-top:20px;
}
